# Miscellaneous
*.class
*.log
*.pyc
*.swp
frontend/.DS_Store
frontend/.atom/
frontend/.buildlog/
frontend/.history
frontend/.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
frontend/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/.fvm/
frontend/build/

# Web related
frontend/lib/generated_plugin_registrant.dart

# Symbolication related
frontend/app.*.symbols

# Obfuscation related
frontend/app.*.map.json

# Android Studio will place build artifacts here
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release


.env
backend/.work

docker-compose-dev.yaml
backend/music
backend/server_basement_music